include mixins
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description", content=description)
    link(rel='stylesheet', href='/css/index.css')
    title #{title}
  body
    input#styleswitcher.styleswitcher(type="checkbox", name="styles", hidden)
    div.gwrapper
      header.gheader
        div.gtop
          div #[a.glogo(href="/") MDN]
        nav
          details
            summary #[a(href="/authorization") Authorization] 
            ul
              li #[a(href="/authorization/register") Register]
              li #[a(href="/authorization/login") Log in]
              li #[a(href="/authorization/logout") Log out]

          details
            summary #[a(href='/catalog') Catalogue]
            ul
              li 
                a(href='/catalog/books') All books
              li 
                a(href='/catalog/authors') All authors
              li 
                a(href='/catalog/genres') All genres
              li 
                a(href='/catalog/bookinstances') All book-instances
            ul
              li 
                a(href='/catalog/author/create') Create new author
              li 
                a(href='/catalog/genre/create') Create new genre
              li 
                a(href='/catalog/book/create') Create new book
              li 
                a(href='/catalog/bookinstance/create') Create new book instance (copy)

          details
            summary #[a(href="/blog") Blog]
            ul

          details
            summary #[a(href="/users") Users]
            ul

      main#maincontent
        block content
      
      footer.gfooter
        +tagCloud(tagCloud, "webdev tag cloud")
        div.buttons
          button.glightswitcher(type="button")
            label(for="styleswitcher") Switch
          