include mixins
doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/index.css')
  body
    header
      nav
        ul(class='sidebar-nav')
          li
            p #[a(href='/catalog') Catalogue]
            ul
              li 
                a(href='/catalog/books') All books
              li 
                a(href='/catalog/authors') All authors
              li 
                a(href='/catalog/genres') All genres
              li 
                a(href='/catalog/bookinstances') All book-instances
            ul
              li 
                a(href='/catalog/author/create') Create new author
              li 
                a(href='/catalog/genre/create') Create new genre
              li 
                a(href='/catalog/book/create') Create new book
              li 
                a(href='/catalog/bookinstance/create') Create new book instance (copy)
          li
            p #[a(href="/blog") Blog]
            ul
          li
            p #[a(href="/users") Users]
            ul
    main#maincontent
      block content