extends ../layout

block content
  h1 Authorization overview
  section.authorization
    ul
      li
        a(href="/authorization/registration") Register
      li
        a(href="/authorization/login") Log in 
      li
        a(href="/authorization/logout") Log out